Source: debathena-chromium-config
Section: debathena-config/net
Priority: extra
Maintainer: Debathena Project <debathena@mit.edu>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.3

Package: debathena-chromium-config
Architecture: all
Depends: ${misc:Depends}
Recommends: google-chrome-stable | google-chrome-beta | google-chrome-unstable | chromium-browser | chromium (>= 1)
Description: Enable GSSAPI authentication in Chromium.
 This package enables GSSAPI authentication in Chromium for idp.mit.edu.
